@model Hurtownia.Models.Client

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Client</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Surname)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="display-field">
        @Html.ActionLink("Dane firmy", "CompanyContactInfoDetails", "Client", new { id = Model.CompanyContactInfoId }, null)
    </div>

    <div class="display-field">
        @Html.ActionLink("Dane kontaktowe", "ClientContactInfoDetails", "Client", new { id = Model.ClientContactInfoId }, null)
    </div>

    <div class="display-field">
        @Html.ActionLink("Dane adresowe", "Details","Address",new {id = Model.AddressId},null)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClientType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
