@model Hurtownia.Models.ViewModels.OrderDetailsViewModel
@{
    ViewBag.Title = "Szczegóły zamówienia";
}

@{
    var cost = 0.0;
}

<h2>Szczegóły zamówienia nr: @Model.Order.Id</h2>

<br />
<br />

<table class="customTable">
    <tr>
        <th>Klient</th>
        <th>Typ płatności</th>
        <th>Pracownik</th>
    </tr>
    <tr>
        <td>@Model.Order.Client.Name[0].@Model.Order.Client.Surname</td>
        <td>@Model.Order.PaymentType.Type</td>
        <td>@Model.Order.Employee.Name[0].@Model.Order.Employee.Surname</td>
    <tr>
</table>
<br />
<br />
<table class="customTable">
    <tr>
        <th>L.p.</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Jednostka</th>
        <th>Cena za sztukę</th>
        <th>Cena</th>
    </tr>
    
        @foreach (var pg in Model.ProductGroups)
        {

            <tr>
                <td>@Model.ProductGroups.IndexOf(pg)</td>
                <td>@pg.Product.Name</td>
                <td>@pg.Amount</td>
                <td>@pg.Product.Unit.Name</td>
                <td>@pg.Product.Price</td>
                <td>@pg.OrderCost</td>
            </tr>
                cost += pg.OrderCost;
            

            
        }
    <tr>
        <td colspan="5">Suma</td>
        <td>@cost</td>
    </tr>
    </table>
