@model System.Collections.Generic.IEnumerable<Hurtownia.Models.Order>

@{
    ViewBag.Title = "Lista zamówień";
}

<h2>Lista zamówień</h2>
<br/>
<br/>
@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="customTable">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Client.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaymentType.Type)
        </th>
        <th>
            
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClientId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name[0]) .@Html.DisplayFor(modelItem => item.Client.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.Name[0]) .@Html.DisplayFor(modelItem => item.Employee.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentType.Type)
        </td>
        <td>
            @Html.ActionLink("Szczegóły", "Details", new { orderId=item.Id }, new {style = "text-decoration: none" })
        </td>
    </tr>
}

</table>
