@model Hurtownia.Models.Product

@{
    ViewBag.Title = "Szczegóły produktu";
}

<h2>Szczegóły</h2>
<br/>

<p><b> Nazwa produktu: </b>@Model.Name</p>

<p><b> Cena: </b>@Model.Price</p>

<p><b> Ilość: </b>@Model.Amount</p>

<p><b> Data ważności: </b>@Model.ExpiryDate.ToShortDateString()</p>

<p><b> Typ produktu: </b>@Model.ProductType.Name</p>

<p><b> Jednostka: </b>@Model.Unit.Name</p>

<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Powrót do listy produktów", "List","Product")
</p>
