@model Hurtownia.Models.Product

@{
    ViewBag.Title = "Szczegóły produktu";
}

<h2>Szczegóły</h2>


<table>
    <tr>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Jednostka</th>
        <th>Cena za sztukę</th>
        <th>Data ważności</th>
    </tr>
        <tr>
            <td>@Model.Name</td>
            <td>@Model.Amount</td>
            <td>@Model.Unit.Name</td>
            <td>@Model.Price</td>
            <td>@Model.ExpiryDate</td>
        </tr>
    
</table>

@*<fieldset>
    <legend>Product</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpiryDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpiryDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Amount)
    </div>
</fieldset>*@
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Powrót do listy produktów", "Index")
</p>
