@using System.Linq
@model Hurtownia.Models.ViewModels.ProductsViewModel

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

@{Html.RenderPartial("FilterProduct",Model);}

<fieldset>
    <legend>ProductsViewModel</legend>
    <table class="customTable">
        <tr>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Name)
                </div>
            </th>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ExpiryDate)
                </div>
            </th>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Price)
                </div>
            </th>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Amount)
                </div>
            </th>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().ProductType)
                </div>
            </th>
            <th>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Products.FirstOrDefault().Unit)
                </div>
            </th>
            <th colspan="2">Actions</th>
        </tr>
        @{
            foreach (var product in Model.Products)
            {
                Html.RenderPartial("ProductRow", product);
            }
        }
</table>
</fieldset>
