@using System.Globalization
@model Hurtownia.Models.Product



    <tr>
            <td>
                @Html.DisplayFor(model => model.Name)
            </td>
        <td>
            @Html.DisplayFor(model => model.ExpiryDate)
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Price)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Amount)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ProductType.Name)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Unit.Name)
            </div>
        </td>
        <td>@Html.ActionLink("Edytuj", "Edit", new { id = Model.Id }, new { style = "text-decoration: none" })</td>
        <td>@Html.ActionLink("Dodaj do karty", "AddProduct", "Cart", new { productId = Model.Id }, new { style = "text-decoration: none" })</td>

    </tr>

