@model Hurtownia.Models.Product



    <tr>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Name)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ExpiryDate)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Price)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Amount)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.ProductType.Name)
            </div>
        </td>
        <td>
            <div class="display-field">
                @Html.DisplayFor(model => model.Unit.Name)
            </div>
        </td>
        <td>@Html.ActionLink("Edit", "Edit", new {id = Model.Id}) |</td>
        <td>@Html.ActionLink("Add to cart","AddProduct","Cart",new {productId = Model.Id},null) |</td>
        
    </tr>

