@model Hurtownia.Models.ViewModels.CheckOutViewModel

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@{
    ViewBag.Title = "Potwierdzenie zamówienia";
}

<h2>Potwierdzenie zamówienia</h2>


<table>
    <tr>
        <th>L.p.</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Cena za sztukę</th>
        <th>Cena</th>
    </tr>
    @foreach (var pr in Model.Cart.Products)
    {
        <tr>
            <td>@Model.Cart.Products.IndexOf(pr)</td>
            <td>@pr.Product.Name</td>
            <td>@pr.Amount</td>
            <td>@pr.Product.Price</td>
            <td>@pr.OrderCost</td>
        </tr>
    }
    <tr><td rowspan="10">Cena łączna: @Model.Cart.TotalCost</td></tr>
</table>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(x=>x.Cart);
    <fieldset>
        <legend>Product</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order.PaymentTypeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Order.PaymentTypeId, (SelectList) ViewBag.PaymentTypes)
            @Html.ValidationMessageFor(model => model.Order.PaymentTypeId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Order.EmployeeId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Order.EmployeeId, (SelectList) ViewBag.Employees)
            @Html.ValidationMessageFor(model => model.Order.EmployeeId)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Order.ClientId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.Order.ClientId, (SelectList)ViewBag.Clients)
            @Html.ValidationMessageFor(model => model.Order.ClientId)
        </div>
        <p>
            <input type="submit" value="Zakończ zamówienie" />
        </p>
    </fieldset>
}
