@model Hurtownia.Models.ViewModels.CheckOutViewModel

@{
    ViewBag.Title = "OrderSummary";
}

<h2>Podsumowanie zamówienia</h2>

<p><b>Nazwa klienta: </b> @Model.Order.Client.Name @Model.Order.Client.Surname </p>
<p><b>Typ płatności: </b> @Model.Order.PaymentType.Type</p>
<p><b>Pracownik odpowiedzialny za zamówienie: </b> @Model.Order.Employee.Name @Model.Order.Employee.Surname</p>

<br/>
<br/>

<table class="customTable">
    <tr>
        <th>L.p.</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Jednostka</th>
        <th>Cena za sztukę</th>
        <th>Cena</th>
    </tr>
    @foreach (var product in @Model.Cart.Products)
    {
        <tr>
            <td>@Model.Cart.Products.IndexOf(product)+1</td>
            <td>@product.Product.Name</td>
            <td>@product.Amount</td>
            <td>@product.Product.Unit.Name</td>
            <td>@product.Product.Price</td>
            <td>@product.OrderCost</td>
        </tr>
    }
    <tr>
        <td colspan="5">Suma</td>
        <td>@Model.Cart.TotalCost</td>
    </tr>
</table>

@*do generowania pdfa z zamówieniem 
    @Html.ActionLink()*@

