@using System.EnterpriseServices
@model Hurtownia.Models.Cart

@{
    ViewBag.Title = "Koszyk";
}

<h2>Koszyk</h2>
<br/>
<table class="customTable">
    <tr>
        <th>L.p.</th>
        <th>Produkt</th>
        <th>Ilość</th>
        <th>Cena za sztukę</th>
        <th>Cena</th>
    </tr>
    @foreach (var pr in Model.Products)
    {
        <tr>
            <td>@Model.Products.IndexOf(pr)</td>
            <td>@pr.Product.Name</td>
            <td>@pr.Amount</td>
            <td>@pr.Product.Price</td>
            <td>@pr.OrderCost</td>
        </tr>
        <tr>
                <td colspan="4">Suma</td>
                <td>@Model.TotalCost</td>
            </tr>
    }

</table>
<br/>
<br/>
@Html.ActionLink("Powrót do listy produktów", "List", "Product")
<br/>
<br/>
<h2>@Html.ActionLink("Do kasy", "CheckOut", "Cart")</h2>